numpy==1.18.1
scikit_image==0.16.2
opencv_python==4.2.0.32
requests==2.22.0
Flask==1.1.1
face_recognition==1.2.3
glob2==0.7
memory_profiler==0.57.0
tensorflow_serving_api==2.1.0
tensorflow==2.1.0
grpcio==1.27.2
dlib==19.19.0
Flask_Caching==1.8.0
imutils==0.5.3
Flask_Limiter==1.1.0
keras==2.3.1
locustio==0.14.4
Pillow==7.0.0
redis==3.4.1
